@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}




#cont-principal{
    width: 100%;
    min-height: 110vh;
    background: #000d14;
    text-align: center;
    padding: 80px 100px;
}

h1{
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 40px;

}

p{
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 40px;
}

hr{
    margin-bottom: 40px;
    border-color: aqua;
}

button{
    padding: 10px 30px;
    background: aqua;
    color: black;
    border-radius: 6px;
    border: 1px solid aqua;
    margin: 5px;
    transition: 0.5s;
    cursor: pointer;

}

button:hover{
    background: #000d14;
    color: aqua;
    border-radius: 0;
    box-shadow: 4px 4px 10px 0px;
}

h2{
    color: #ffffff;
    font-size: 32px;
    margin: 40px 0;
}

